/******************************************************************
Site Name: PressForward Turnkey
Author: Amanda Regan

Stylesheet: General Styles

These are the general styles for the theme. Documentation on each section can be found below. For further information see the github repository for this theme. 
http://www.github.com/DigitalHumanitiesNow/BrewChildTheme


------------ MAP ------------
******************************************************************/


/*******************************
01. ARCHIVE
Styling for the Bootstrap tabs used on the archive page.  Adds padding between the tabs and the horizontal rule below them.
********************************/

.tab-content {
	padding-top: 10px;
} 

/*******************************
02. GENERAL
********************************/

h1, h2, h3, h4, h5, h6 {
	letter-spacing: 1px;
}
.widgettitle{
	border: none !important;
}

.feedlist {
	list-style-type: none;
}

/*******************************
03. POSTS
********************************/

/*Applies to both the featured icon on post pages and the featured image on post pages.*/
.featimg {
	padding: 20px 0 0 0;
}
/* The customfields only appear on the editor's choice category as defined in the "IF" statement found in single.php */
.ec-customfields{
	padding: 0 0 0 20px !important;
	p {
	margin-bottom: 0px;
	}
}
time {
	padding-left: 5px;
}