/************************************************

Stylesheet: Main Stylesheet

*************************************************/

/*********************
GENERAL STYLES
*********************/
// .orbit-bullets > button{
// 	background-color: yellow;
// }
// .top-bar {
// 	position: relative;
// }
// .top-bar-right .menu {
// 	position: absolute;
// 	transform: translateY(-50%);
// 	top: 50%;
// 	right: 0;
// }

.header {
	background-color: $dhnow-darkblue;
}
.screen-reader-text{
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
.thumbnail, .thumbnail:hover, .thumbnail:focus {
	border: none;
	box-shadow: none;
}
.thumbnail.home {
	@include breakpoint(medium down) {
		width: 65%;
		margin: 25px 25px;
	}
}
.bypostauthor {
	@extend p;
}
.gallery-caption{
background: #fff;
 border: 1px solid #f0f0f0;
 padding: 5px 3px 10px;
 text-align: center;
}
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

#feat_img_col {
padding-left: 0px;

}
#main {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 15px 25px 15px 25px;
}
.menu {
	li > a {
		margin-left: 0;
	}
	.top-bar {
		padding-left: 0;
	}

}
.menu > ul > li > a  {
	padding-left: 0 !important;
}
.slider-container {
	background-image: linear-gradient($dhnow-blue, $dhnow-blue-darkened);
	padding: 30px 0 25px 0;
	h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
		color: $dhnow-white;
	}
	h1 {
		font-size: 30px;
		margin: 0;
		letter-spacing: 0.5px
	}
	h2 {
		font-size: 18px;
	}
	.orbit-slide {
		margin-left: 70px;
		margin-right: 70px;
	}
	.slidertext {
		margin-top: 25px;
		// float: left;
		width: 60%;
	}
	.slider-byline {
		margin-top: 20px;
	}

	p {
		color: $dhnow-white;
	}
}
.b3-wrapper {
	background-color: $dhnow-white;
	padding: 10px 15px;
	ul {
		text-align: left;
	}
}

.homeinnercontent {
	ul {
	text-align: left;
	}
}
//custom button
.pf-tk-button {
	@include button($background: $dhnow-white);
	@include button-hollow;
	border: solid 1px $dhnow-white;
}
.block-2, .block-3, .block-4, .block-5 {
	h1 {
		font-size: 28px;
		padding-bottom: 20px;
	}
}
.block-2 {
	background-color: $dhnow-gray;
	padding: 25px 0 25px 0;
	text-align: center;

}
.block-3 {
	background-color: $dhnow-darkblue;
	text-align: center;
	padding: 50px 0 50px 0;
}
.block-4, .block-5 {
	padding: 25px 0 25px 0;
	h1 {
		padding-bottom: 0;
		margin-bottom: 10px;
	}
	h2 {
		font-size: rem-calc(22);
	}
}
.block-5 {
		background-image: linear-gradient($dhnow-blue, $dhnow-blue-darkened);
		padding: 30px 0 25px 0;
		h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, a, p {
			color: $dhnow-white;
		}
		a:hover {
			color: darken($dhnow-white, 20%)
		}
}
.homeinnerwrapper {
	background-color: $dhnow-gray;
	padding: 20px 20px 0px 10px;
	i {
		color: $dhnow-darkblue;
	}
}
.homeinnercontent {
	li {
		padding-bottom: 5px;
	}
}
/*********************
LINK STYLES
*********************/
a, a:visited {

	// Mobile tap color
	&:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {

	// Removing text decoration from all headline links
	a {
		text-decoration: none;
	}
}

h1, .h1 {

}

h2, .h2 {

}

h3, .h3 {

}

h4, .h4 {

}

h5, .h5 {

}

/*********************
HEADER STYLES
*********************/
.header {
	ul.off-canvas-list li {
		list-style: none;
	}
}

/*********************
NAVIGATION STYLES
*********************/
.top-bar {
	.title-area {
		z-index: 1;
	}
}

.off-canvas-list {
	ul {
		margin-left: 0;
		li {
			a {
				border-bottom: 0px;
			}
		}
		.dropdown {
			margin-left: 20px;
		}
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/
#content {
	#inner-content {
		padding: 1rem 0rem;
	}
}

.single-title,
.page-title {

}

.single-title {

}

.page-title {

	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}

.archive-title {

}

// Post meta
.byline {
	color: #999;
	time {}
}

// Entry content
.entry-content {

	img {
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft {
		margin-right: 1.5em;
		display: inline;
		float: left;
	}
	.alignright, img.alignright {
		margin-left: 1.5em;
		display: inline;
		float: right;
	}
	.aligncenter, img.aligncenter {
		margin-right: auto;
		margin-left: auto;
		display: block;
		clear: both;
	}

	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

}

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	// Images inside wp-caption
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
}

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

/*********************
IMAGE GALLERY STYLES
*********************/
	.gallery {

		dl {

			a {}

			img {}

		}

		dt {}

		dd {}

}

// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}

/*********************
COMMENT STYLES
*********************/
#comments {
	.commentlist {
		margin-left: 0px;
	}
}

#respond {
	ul {
		margin-left: 0px;
	}
}

.commentlist {
	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           // Change number for different depth
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: 10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {
	}
	li.depth-4 {}
	li.depth-5 {}

	// General comment classes
	.alt {}
	.odd {
	}
	.even {
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	// vcard
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} // end .commentlist .vcard


	// comment meta
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	// comment content
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} // end .commentlist .comment_content

	// comment reply link
	.comment-reply-link {
		float: right;

		&:hover,
		&:focus {

		}

	} // end .commentlist .comment-reply-link

} // end .commentlist

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			// form validation
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

// comment submit button
#submit {}

// comment form title
#comment-form-title {
	margin: 0 0 1.1em;
}

// cancel comment reply link
#cancel-comment-reply {
	a {}
}

// logged in comments
.comments-logged-in-as {}

// allowed tags
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

// No comments
.nocomments {
	margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
}

#searchsubmit {
}

.widgettitle {
}

.widget {
	ul {
		margin: 0;

		li {
			list-style: none;

			&:first-child {}

			&:last-child {}

			a {}

			// deep nesting
			ul {}

		}
	}
}
/*********************
FOOTER STYLES
*********************/
.footer {
	clear: both;
	margin-top: 1em;
}

/*********************
FOUNDATION STYLES
*********************/

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}
