@import url(http://fonts.googleapis.com/css?family=Arvo);
/******************************************************************
Site Name: BREW Child Styles
Author: 

Stylesheet: Tables

This is just for the sample BREW site.  Feel free to delete

******************************************************************/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arvo, serif !important;
}
.about ul {
  text-align: left;
  line-height: 1.5;
}
.categorieshome {
  background-image: url("../../cup4.png");
}
#categories {
  padding: 50px;
}
.aboutlarge {
  background-color: #0087BF;
}
#info {
  height: 275px;
  color: white;
}
.slider {
  background-color: #454747;
}
.container::before {
  background-color: #454747 !important;
}
