/******************************************************************
Site Name: BREW Child Styles
Author: 

Stylesheet: Tables

This is just for the sample BREW site.  Feel free to delete

******************************************************************/
@import url(http://fonts.googleapis.com/css?family=Arvo);
h1, h2, h3, h4, h5, h6 {
	font-family: Arvo, serif !important;
}
.about { ul {
	
	text-align: left;
	line-height: 1.5;
} }


#categories {
  padding: 50px;
}

#info {
	height: 250px;	

}
.slider {
	background-color: #3887be;
}
#slidertext {
	width: 60%;
	float: left;
	margin-top: 40px;
}
#sliderimg {
	float: right;
	padding: 40px 0 0 0;
}

.container.homepage {
	margin-top: 0px;
	padding: 72px;
}
@media screen and (min-width: 960px) {
#slider-content {
	height: 500px;
}
}
#slider-content h1 {
	color: #f8f8f8;
	margin: 0px;
	font-size: 50px;
	letter-spacing:1px;
}
#slider-content img{
	height: auto;
	width: 400px;
}
#slider-content h2 {
	margin: 5px 0 0 0;
	color: #f8f8f8;
	letter-spacing:1px;
	font-size: 24px;
}

#slider-content p {
	font-size: large;
	color: #f8f8f8;
}

.aboutlarge {
	background-color: #f8f8f8;
}
.categorieshome {
	background-color: #142736;
}
#info h2 {
	font-size: 50px;
}
#text-4 {
	list-style-type: none;
}
.widgettitle {
	border-bottom: 0px solid #f8f8f8 !important;
	text-align: center;
	padding: 20px 0 10px 0;
}
.textwidget {
	font-size: large;
	text-align: center;
	padding: 10px 0 20px 0;
}

